@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    overflow-x: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 28px auto;
    max-width: 1727px;
}
.lists {
    display: flex;
    gap: 9px;
    line-height: 27px;
}
.list {
    margin: 16px 0 0 0;
}
.kata {
    display: flex;
    gap: 72px;
    margin: 13px -100px 0 0;
    flex-wrap: wrap;
}
.smotr {
    display: none;       
}
.smotri {
    display: none;
}
.main_list {
    font-size: 16px;
    font-weight: 400;
    font-family: "Unbounded", sans-serif;
}
.pmks {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
}
.pmks_one {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    width: 100px;
    line-height: 20px;
}
.pmks_inst {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    width: 100px;
    line-height: 20px;
}
.lists_tg {
    display: flex;
    gap: 9px;
    line-height: 27px;
}
.lists_center {
    display: flex;
    gap: 9px;
    line-height: 27px;
}
.strip {
    background-color: #D3D3D3;
    width: 239px;
    height: 1px;
    margin: 10px 0 10px 0;
}
.orange_button {
    font-family: "Unbounded", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    width: 268px;
    height: 46px;
    padding: 12px 24px 12px 24px;
    border: 1px solid #EC5100;
    border-radius: 100px;
    color: #fff;
    background: linear-gradient( 50deg , #EC5100 , #FF741F );
    font-size: small;
    box-sizing: border-box;
    cursor: pointer;
}
.pmks_telegg {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    margin: -3px 0 0 0;
}
.addap {
    display: flex;
    gap: 72px;
}
.addp {
    display: flex;
    gap: 72px;
}
.main_list img {
    display: none;
}
.ttxxe {
    font-size: 200px;
    font-weight: 600;
    font-family: "Unbounded", sans-serif;
    color: #141414;
}
.top {
    white-space: nowrap;
    margin: 88px auto;
    width: 1920px;
    position: relative;
}
.min_logo {
    position: absolute;
    top: 75px;
    left: 227px;
}
.element2 {
    position: relative;
}
.pod_element {
    background-color: #141414;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: -115px 0 0 0;
}
.pod_ele {
    background-color: #1F1F1F;
    min-width: 852px;
    min-height: 372px;
    border-radius: 32px;
    margin: 88px 0 0 0;
    position: relative;
    overflow: hidden;
}
.pod1 {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    width: 1713px;
}
.kataloge {
    display: flex;
    gap: 16px;
}
.org {
    font-size: 28px;
    font-weight: 400;
    font-family: "Unbounded", sans-serif;
    color: #fff;
}
.iimfg {
    margin: 5px 0 0 0;
}
.iimfg img {
    width: 18px;
    height: 18px;
}
.otzv {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: "Mulish", sans-serif;
    width: 750px;
    line-height: 28px;
    margin: 32px 0 0 0;
}
.five_thou {
    font-size: 28px;
    font-weight: 400;
    font-family: "Unbounded", sans-serif;
    color: #FF741F;
}
.white_cart {
    display: flex;
    gap: 8px;
    margin: 32px 0 0 0;
    overflow: hidden;
}
.white {
    background-color: #F2F2F2;
    min-width: 123px;
    min-height: 70px;
    border-radius: 12px;
}
.ocenka {
    font-size: 14px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
}
.zvezda {
    display: flex;
    gap: 1px;
    margin-left: 9px;
    margin-top: 4px;
}
.sve {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: "Unbounded", sans-serif;
}
.knor {
    width: 367px;
    height: 48px;
    border: 1px solid #EC5100;
    background: linear-gradient( 50deg , #EC5100 , #FF741F );
    border-radius: 100px;
    cursor: pointer;
    margin: 32px 0 0 0;
}
.osmotr {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-left: 25px;
    gap: 16px;
    font-family: "Unbounded", sans-serif;
    line-height: 48px;
    display: flex;
}
.nex {
    margin-top: 3px;
}
.nex img {
    width: 19px;
    height: 19px;
}
.marg {
    margin: 32px 32px 32px 33px;
}
.otzsv {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-left: 9px;
    margin-top: 4px;
    font-family: "Mulish", sans-serif;
}
.otzsv1 {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-left: 9px;
    margin-top: 6px;
    font-family: "Mulish", sans-serif;
}
.devzt {
    color: #757575;
}
.kompanye {
    margin-top: 8px;
    margin-left: 9px;
}
.flek {
    display: flex;
    gap: 40px;
}
.fre {
    font-size: 28px;
    font-weight: 400;
    color: #FF741F;
    font-family: "Unbounded", sans-serif;
    text-align: center;
}
.mil {
    font-size: 18px;
    font-weight: 400;
}
.mil1 {
    font-size: 18px;
    font-weight: 400;
    margin-left: 7px;
}
.rassjt {
    position: absolute;
    top: 1px;
    right: 60px;
}
.fflee {
    display: flex;
    justify-content: space-between;
    margin: 140px 0 0 0;
}
.help {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: "Mulish", sans-serif;
    z-index: 2;
}
.vam {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: "Mulish", sans-serif;
    line-height: 24px;
}
.rasshek {
    width: 200px;
    height: 46px;
    border: 1px solid #EC5100;
    background: linear-gradient( 50deg , #EC5100 , #FF741F );
    border-radius: 100px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    text-align: center;
    font-family: "Unbounded", sans-serif;
    line-height: 46px;
    z-index: 22;
}
.pod2 {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    padding: 24px 0 0 0;
    width: 1713px;
}
.fflee2 {
    display: flex;
    justify-content: space-between;
    margin: 32px 0 0 0;
}
.pod_ele2 {
    border: 1px solid #1F1F1F;
    background-color: #1F1F1F;
    min-width: 852px;
    max-height: 178px;
    border-radius: 32px;
    position: relative;
    z-index: 1;
    overflow: hidden; 
}
.fivve {
    display: none;
}
.knor2 {
    width: 309px;
    height: 48px;
    border: 1px solid #EC5100;
    background: linear-gradient( 50deg , #EC5100 , #FF741F );
    border-radius: 100px;
    cursor: pointer;
    z-index: 2;
}
.knor3 {
    width: 256px;
    height: 48px;
    border: 1px solid #EC5100;
    background: linear-gradient( 50deg , #EC5100 , #FF741F );
    border-radius: 100px;
    cursor: pointer;
    z-index: 1;
}
.logodeg {
    position: absolute;
    z-index: 2;
    right: -1px;
}
.logodeg2 {
    position: absolute;
    z-index: 2;
    top: 33px;
    left: 1px;
}
.kataloge4 {
    display: none;
}
.ifirium {
    position: absolute;
    bottom: -2px;
    left: 35%;
}
.teleleg {
    position: absolute;
    bottom: -2px;
    left: 58%;
}
.teleleg2 {
    position: absolute;
    right: 1px;
    top: -1px;
}
@media (max-width: 1440px) {
    .iimfg4 {
        margin: 5px 0 0 0;
    }
    .iimfg4 img {
        width: 19px;
        height: 19px;
    }
    .org4 {
        font-size: 28px;
        font-weight: 400;
        font-family: "Unbounded", sans-serif;
        color: #fff;
    }
    .kalea {
        display: flex;
        gap: 16px;
    }
    .kataloge4 {
        display: inline;
        line-height: 35px;
    }
    .kataloge3 {
        display: none;
    }
    .rasshek {
        width: 200px;
        height: 46px;
        border: 1px solid #EC5100;
        background: linear-gradient(50deg, #EC5100, #FF741F);
        border-radius: 100px;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        text-align: center;
        font-family: "Unbounded", sans-serif;
        line-height: 46px;
        z-index: 22;
    }
    .knor2 {
        width: 309px;
        height: 48px;
        border: 1px solid #EC5100;
        background: linear-gradient( 50deg , #EC5100 , #FF741F );
        border-radius: 100px;
        cursor: pointer;
        z-index: 2;
        margin: 4px 0 0 0;
    }
    .rassjt {
        position: absolute;
        top: 30px;
        right: 86px;
    }
    .rassjt img {
        width: 278px;
        height: 217px;
    }
    .fflee {
        display: flex;
        justify-content: space-between;
        margin: 104px 0 0 0;
    }
    .pfivee {
        display: none;
    }
    .fivve {
        display: inline;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        font-family: "Mulish", sans-serif;
        line-height: 40px;
    }
    .del {
        display: none;
    }
    .pod2 {
        display: flex;
        gap: 24px;
        margin: 0 auto;
        padding: 24px 0 0 0;
        width: 1320px;
    }
    .pod1 {
        display: flex;
        gap: 24px;
        margin: 0 auto;
        width: 1320px;
    }
    .otzv {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        font-family: "Mulish", sans-serif;
        width: 430px;
        line-height: 28px;
        margin: 32px 0 0 0;
    }
    .white_cart {
        display: flex;
        gap: 8px;
        overflow: hidden;
        width: 610px;
        margin: 32px 0 0 0;
    }
    .marg {
        margin: 20px 20px 20px 20px;
    }
    .knor {
        display: none;
    }
    .pod_ele2 {
        border: 1px solid #1F1F1F;
        background-color: #1F1F1F;
        min-width: 650px;
        min-height: 212px;
        border-radius: 32px;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .pod_ele {
        border: 1px solid #1F1F1F;
        background-color: #1F1F1F;
        min-width: 650px;
        min-height: 292px;
        border-radius: 32px;
        margin: 88px 0 0 0;
        position: relative;
        overflow: hidden;
    }
    .pod_element {
        background-color: #141414;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        margin: -93px 0 0 0;
    }
    .ttxxe {
        font-size: 150px;
        font-weight: 600;
        font-family: "Unbounded", sans-serif;
    }
    .top {
        white-space: nowrap;
        margin: 72px auto;
        width: 1440px;
    }
    .min_logo {
        position: absolute;
        top: 55px;
        left: 170px;
    }
    .min_logo img {
        width: 40px;
        height: 40px;
    }
    .element2 {
        position: relative;
    }
    .orange_button {
        font-family: "Unbounded", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        width: 164px;
        height: 46px;
        padding: 12px 24px 12px 24px;
        border: 1px solid #EC5100;
        border-radius: 100px;
        color: #fff;
        background: linear-gradient( 50deg , #EC5100 , #FF741F );
        font-size: small;
        box-sizing: border-box;
        cursor: pointer;
        margin: 0 -20px 0 0;
    }
    .adapttt {
        display: none;
    }
    .lists_tg {
        display: flex;
        gap: 9px;
        line-height: 27px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        margin: 28px auto;
        max-width: 1320px;
    }
    .kata {
        display: flex;
        gap: 48px;
        margin: 13px -100px 0 0;
    }
    .strip {
        background-color: #D3D3D3;
        width: 144px;
        height: 1px;
        margin: 10px 0 10px 0;
    }
    .pmks_telegg {
        font-size: 16px;
        font-weight: 400;
        font-family: "Mulish", sans-serif;
        margin: -0.1px 0 0 0;
        width: 100px;
        line-height: 20px;
    }
    .pmks_inst {
        font-size: 16px;
        font-weight: 400;
        font-family: "Mulish", sans-serif;
        width: 100px;
        line-height: 20px;
    }
    .addap {
        display: flex;
        gap: 48px;
    }
    .addp {
        display: flex;
        gap: 48px;
    }
}
@media (max-width: 768px) {
    .ttxxe {
        font-size: 80px;
        font-weight: 500;
        font-family: "Unbounded", sans-serif;
    }
    .top {
        white-space: nowrap;
        margin: 48px auto;
        width: 768px;
    }
    .min_logo {
        position: absolute;
        top: 29px;
        left: 88px;
    }
    .min_logo img {
        width: 24px;
        height: 24px;
    }
    .element2 {
        position: relative;
    }
    .pmks {
        font-size: 10px;
        font-weight: 400;
        font-family: "Mulish", sans-serif;
    }
    .strip {
        background-color: #D3D3D3;
        width: 138px;
        height: 1px;
        margin: 5px 0 10px 0;
    }
    .orange_button {
        display: none;
    }
    .lists_center {
        display: none;
    }
    .lists_tg {
        display: flex;
        gap: 6px;
        line-height: 27px;
        margin: -5px 0 0 0;
    }
    .house img {
        width: 14px;
        height: 14px;
    }
    .pmks_one {
        font-size: 10px;
        font-weight: 400;
        font-family: "Mulish", sans-serif;
        width: auto;
        line-height: 20px;
    }
    .header {
        display: flex;
        flex-direction: column;
        padding: 0 34px 0 34px;
    }
    .kata {
        display: flex;
        gap: 41px;
        margin: 20px -100px 0 0;
    }
    .main_list {
        font-size: 12px;
        font-weight: 400;
        font-family: "Unbounded", sans-serif;
    }
    .pmks_telegg {
        font-size: 10px;
        font-weight: 400;
        font-family: "Mulish", sans-serif;
        margin: 3px 0 0 0;
        width: auto;
    }
    .lists {
        display: flex;
        gap: 5px;
        line-height: 27px;
    }
    .list {
        margin: 10px 0 0 0;
    }
    .pmks_inst {
        font-size: 10px;
        font-weight: 400;
        font-family: "Mulish", sans-serif;
        width: 100px;
        line-height: 20px;
    }
    .addap {
        display: flex;
        gap: 41px;
    }
    .addp {
        display: flex;
        gap: 41px;
    }
}
@media (max-width: 320px) {
    .ttxxe {
        font-size: 34px;
        font-weight: 600;
        font-family: "Unbounded", sans-serif;
    }
    .top {
        white-space: nowrap;
        margin: 20px auto;
        width: 320px;
    }
    .min_logo {
        position: absolute;
        top: 9px;
        left: 38px;
    }
    .min_logo img {
        width: 9px;
        height: 9px;
    }
    .element2 {
        position: relative;
    }
    .top_mining img {
        width: 78px;
        height: 24px;
    }
    .main_list {
        font-size: 9px;
        font-weight: 400;
        font-family: "Unbounded", sans-serif;
    }
    .pmks {
        font-size: 8px;
        font-weight: 300;
        font-family: "Mulish", sans-serif;
    }
    .pmks_one {
        font-size: 8px;
        font-weight: 300;
        font-family: "Mulish", sans-serif;
        width: auto;
        line-height: 20px;
    }
    .strip {
        display: none;
    }
    .adapt {
        display: none;
    }
    .header {
        display: flex;
        flex-direction: column;
        padding: 0 10px 0 10px;
        margin: 10px 0 0 0;
    }
    .kata {
        display: flex;
        gap: 12px;
        margin: 20px 0 0 0;
    }
    .lists {
        display: flex;
        gap: 5px;
        line-height: 5px;
    }
    .kk {
        margin: -3px 0 0 0;
    }
    .ll {
        margin: 6px 0 0 0;
    }
    .addap {
        display: flex;
        gap: 43px;
    }
    .adapt {
        display: none;
    }
    .addp {
        display: flex;
        gap: 43px;
    }
    .pmks_telegg {
        font-size: 8px;
        font-weight: 300;
        font-family: "Mulish", sans-serif;
        margin: 7px 0 0 0;
    }
    .ppt {
        margin: 5px 0 0 0;
    }
    .gg {
        margin: 11px 0 0 0;
    }
    .gg1 {
        margin: 5px 0 0 0;
    }
    .g2 {
        margin: 11px 0 0 0;
    }
    .g3 {
        margin: 6px 0 0 0;
    }
    .smotr {
        display: flex;
        font-size: 6px;
        font-weight: 300;
        margin: 8px 0 0 0;
    }
    .smotr img {
        width: 7px;
        height: 7px;
    }
    .smotri {
        display: flex;
        font-size: 6px;
        font-weight: 300;
        margin: 9px 0 0 0;
    }
    .main_list img {
        display: inline;
        width: 7px;
        height: 7px;
    }
}