@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 28px auto;
    max-width: 1727px;
}
.lists {
    display: flex;
    gap: 9px;
    line-height: 27px;
}
.list {
    margin: 16px 0 0 0;
}
.kata {
    display: flex;
    gap: 72px;
    margin: 13px -100px 0 0;
}
.main_list {
    font-size: 16px;
    font-weight: 400;
    font-family: "Unbounded", sans-serif;
}
.pmks {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
}
.pmks_one {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    width: 100px;
    line-height: 20px;
}
.pmks_inst {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    width: 100px;
    line-height: 20px;
}
.lists_tg {
    display: flex;
    gap: 9px;
    line-height: 27px;
}
.lists_center {
    display: flex;
    gap: 9px;
    line-height: 27px;
}
.strip {
    background-color: #D3D3D3;
    width: 239px;
    height: 1px;
    margin: 10px 0 10px 0;
}
.orange_button {
    font-family: "Unbounded", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    width: 268px;
    height: 46px;
    padding: 12px 24px 12px 24px;
    border: 1px solid #EC5100;
    border-radius: 100px;
    color: #fff;
    background: linear-gradient( 50deg , #EC5100 , #FF741F );
    font-size: small;
    box-sizing: border-box;
    cursor: pointer;
}
.pmks_telegg {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    margin: -3px 0 0 0;
}
@media (max-width: 1440px) {
    .orange_button {
        font-family: "Unbounded", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        width: 164px;
        height: 46px;
        padding: 12px 24px 12px 24px;
        border: 1px solid #EC5100;
        border-radius: 100px;
        color: #fff;
        background: linear-gradient( 50deg , #EC5100 , #FF741F );
        font-size: small;
        box-sizing: border-box;
        cursor: pointer;
        margin: 0 -20px 0 0;
    }
    .adapt {
        display: none;
    }
    .lists_tg {
        display: flex;
        gap: 9px;
        line-height: 27px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        margin: 28px auto;
        max-width: 1320px;
    }
    .kata {
        display: flex;
        gap: 48px;
        margin: 13px -100px 0 0;
    }
    .strip {
        background-color: #D3D3D3;
        width: 144px;
        height: 1px;
        margin: 10px 0 10px 0;
    }
    .pmks_telegg {
        font-size: 16px;
        font-weight: 400;
        font-family: "Mulish", sans-serif;
        margin: -0.1px 0 0 0;
        width: 100px;
        line-height: 20px;
    }
    .pmks_inst {
        font-size: 16px;
        font-weight: 400;
        font-family: "Mulish", sans-serif;
        width: 100px;
        line-height: 20px;
    }
}
@media (max-width: 768px) {
    .pmks {
        font-size: 10px;
        font-weight: 400;
        font-family: "Mulish", sans-serif;
    }
    .strip {
        background-color: #D3D3D3;
        width: 138px;
        height: 1px;
        margin: 5px 0 10px 0;
    }
    .orange_button {
        display: none;
    }
    .lists_center {
        display: none;
    }
    .lists_tg {
        display: flex;
        gap: 6px;
        line-height: 27px;
        margin: -5px 0 0 0;
    }
    .house img {
        width: 14px;
        height: 14px;
    }
    .pmks_one {
        font-size: 10px;
        font-weight: 400;
        font-family: "Mulish", sans-serif;
        width: auto;
        line-height: 20px;
    }
    .header {
        display: flex;
        flex-direction: column;
        padding: 0 34px 0 34px;
    }
    .kata {
        display: flex;
        gap: 41px;
        margin: 20px -100px 0 0;
    }
    .main_list {
        font-size: 12px;
        font-weight: 400;
        font-family: "Unbounded", sans-serif;
    }
    .pmks_telegg {
        font-size: 10px;
        font-weight: 400;
        font-family: "Mulish", sans-serif;
        margin: 3px 0 0 0;
        width: auto;
    }
    .lists {
        display: flex;
        gap: 5px;
        line-height: 27px;
    }
    .list {
        margin: 10px 0 0 0;
    }
    .pmks_inst {
        font-size: 10px;
        font-weight: 400;
        font-family: "Mulish", sans-serif;
        width: 100px;
        line-height: 20px;
    }
}
@media (max-width: 320px) {

}